<ion-content class="padding" padding="true">
	<div class="list list-inset">
		
		<div class="item item-avatar">
			<img src="imagenes/avatar.png">
			<label class="item item-input">
				<input type="text" placeholder="Nickname" ng-model="usuario.nickname">
			</label>
		</div>
		
		<button class="button button-block button-dark" ng-click="AceptarNombre();">
			Aceptar
		</button>
	
		<div class="item item-body" style="border:none;">
			<center>
				<img class="full-image" src="imagenes/iconoUcc.jpg">
			</center>
		</div>
		
	</div>
		
	
	
</ion-content>